<div id="microblog">
  <table cellpadding="0" cellspacing="0">
    <tbody>
    <% timeline.each do |timestamp, entry| %>
        <tr>
          <td>&nbsp;</td>
          <td class="date">
            <%= helper.format(timestamp) %>
          </td>
          <td class="entry">
            <% if entry.is_a?(Twitter::Tweet)%>
                <%= helper.parse(entry) %>
            <% else %>
                <%= entry.image_link %>
                <%= helper.parse_insta_for_hashtags(entry.text) %>
            <% end %>
          </td>
          <td>&nbsp;</td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>