<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
  <title>avenging-angel.de</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="Die privaten Seiten von Ronny Kraemer"/>
  <meta name="keywords" content="YAIW,avenging-angel,ave,webdesign,homepage,linux,wallpaper,pictures,downloads"/>
  <link href="wordpress/wp-content/themes/ave/avicon.png" rel="shortcut icon" type="image/png"/>
  <link rel="stylesheet" href="css/base.css"/>
  <script type="text/javascript" src="js/smoothScroll.min.js"></script>
  <script type="text/javascript" src="https://use.typekit.net/hvw3hyo.js"></script>
  <script type="text/javascript">
    Typekit.load({async: true});
    Scroller.speed=40;
  </script>
</head>
<body>
<div id="header"><a name="top"></a></div>
<div id="social" style="float:none">
  <span><a href="http://twitter.com/spaceneedle2019" title="Twitter"><img alt="twitter" src="images/twitter.png"/></a></span>
  <span><a href="http://www.lastfm.de/user/spaceneedle2019" title="Last.fm"><img alt="last.fm" src="images/lastfm.png"/></a></span>
  <span><a href="http://instagram.com/spaceneedle2019" title="Instagram"><img alt="instagram" src="images/instagram.png"/></a></span>
  <span><a href="http://spaceneedle2019.tumblr.com" title="tumblr"><img alt="tumblr" src="images/tumblr.png"/></a></span>
  <span><a href="http://spaceneedle2019.deviantart.com" title="deviantART"><img alt="deviantart" src="images/deviantart.png"/></a></span>
</div>
<div id="microblog">
  <table cellpadding="0" cellspacing="0">
    <tbody>
    <% tweets.each do |tweet| %>
        <tr>
          <td></td>
          <td class="date">
            <%= helper.format(tweet.created_at) %>
          </td>
          <td class="tweet">
            <%= helper.parse(tweet) %>
          </td>
          <td></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div id="footer">
  <div id="more">
    <span>Are you <a href="http://about.rk82.net">serious</a>?</span>
  </div>
  <div id="copyright">
    &copy; 2000&mdash;<%= Date.today.year %>, Ronny Krämer. Alle Rechte vorbehalten.
    <span id="jump-to-top"><a href="#top">top</a> &uarr;</span>
  </div>
</div>
</body>
</html>