<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  <style type="text/css">
      #tweets {
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;
          width: 70%;
      }
  </style>
</head>
<body>
<div id="tweets">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Tweets</th>
    </tr>
    </thead>
    <tbody>
    <% tweets.each do |tweet| %>
        <% hashtags = helper.collect_hashtags(tweet) %>
        <% urls = helper.collect_short_urls(tweet) %>
        <% tweet_text = hashtags.count != 0 ? helper.generate_link(hashtags, tweet.text.dup) : tweet.text.dup %>
        <tr>
          <td>
            <% if urls.nil? %>
                <%= tweet_text %>
            <% else %>
                <%= helper.generate_link(urls, tweet_text) %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
</body>
</html>